%img#rep-photo{src: ""}

%label
  = f.text_field :address, :id => 'address', :placeholder => 'Address'
%label
  %br
  = f.text_field :city, :id => 'city', :placeholder => 'City'
  %br
%label
  = f.text_field :price, :id => 'price', :placeholder => 'Price'

.bullets
  %label.bull1
    = f.text_field :bull1, :id => 'bull-1', :placeholder => 'Bullet Point 1', :maxlength => '22'
  %label.bull2
    = f.text_field :bull2, :id => 'bull-2', :placeholder => 'Bullet Point 2', :maxlength => '22'
  %label.bull3
    = f.text_field :bull3, :id => 'bull-3', :placeholder => 'Bullet Point 3', :maxlength => '22'
  %label.mlsnum
    MLS#
    = f.text_field :mls, :id => 'mls', :placeholder => '00000216'
%label
  %br
  = f.text_field :agent, :id => 'name', :placeholder => 'Agent'
  %br
%label
  = f.text_field :agent_phone, :id => 'phone', :placeholder => 'Phone Number'
  %br
%label
  = f.text_field :agent_email, :id => 'email', :placeholder => 'Email Address'
  %br