%label
  = f.text_field :agent, :id => 'name1', :placeholder => 'Agent'
%label
  = f.text_field :agent_phone, :id => 'phone', :placeholder => '406-555-5555'
%label
  = f.text_field :price, :id => 'price', :placeholder => '1000000'
%label
  = f.text_field :address, :id => 'address', :placeholder => 'Add Address Here'
%label
  = f.text_field :city, :id => 'city', :placeholder => 'Missoula, MT'
%label.bull1
  %br
  = f.text_field :bull1, :id => 'bull-1', :placeholder => 'Bullet Point 1', :maxlength => '22'
%label.bull2
  %br
  = f.text_field :bull2, :id => 'bull-2', :placeholder => 'Bullet Point 2', :maxlength => '22'
%label.bull3
  %br
  = f.text_field :bull3, :id => 'bull-3', :placeholder => 'Bullet Point 3', :maxlength => '22'
%label.bull4
  %br
  = f.text_field :bull4, :id => 'bull-4', :placeholder => 'Bullet Point 4', :maxlength => '22'
%span.sms-info Dial 552-0901
%label.sms-enter
  Enter
  = f.text_field :sms_code, :id => 'sms', :placeholder => '313131'