%h2 New Ad

= render 'steps', :step => 1

= display_base_errors(resource)

.row
  .large-5
    #template
      Which ad would you like to create?
      = form_for :ad, :url => '#', :html => {:class => 'custom', :id => ''} do |f|
        = select_tag :ad_type, options_for_select([['', ''], ['Wednesday', 'wednesday'], ['Sunday', 'sunday']], resource.named_ad_type), :class => 'medium'

    #wednesday.forms.hide
      = form_for resource, :url => ads_path do |f|
        = f.hidden_field :ad_type, :value => Ad::TYPES[:wednesday]
        .step2
          .row
            .large-5.wrapper
              = render 'wednesday', :f => f
          .row
            .large-12
              .button.tiny.radius.nav_left Prev
              .button.tiny.radius.nav_right Next
        .step3.hide
          .row
            .large-12
              = render 'step3', :f => f
          .row
            .large-12
              .button.tiny.radius.nav_left Prev

    #sunday.forms.hide.wrapper
      = form_for resource, :url => ads_path do |f|
        = f.hidden_field :ad_type, :value => Ad::TYPES[:sunday]
        .step2
          .row
            .large-5.wrapper
              = render 'sunday', :f => f
          .row
            .large-12
              .button.tiny.radius.nav_left Prev
              .button.tiny.radius.nav_right Next
        .step3.hide
          .row
            .large-12
              = render 'step3', :f => f
          .row
            .large-12
              .button.tiny.radius.nav_left Prev
