#sunday
  .wrapper
    .listing-img
    = image_tag 'agent.png', :class => 'agent'

    %label
      #name= ad.agent
    %label
      #phone= ad.agent_phone
    %label
      #price= ad.price
    %label
      #address= ad.address
    %label
      #city= ad.city

    %label.bull1
      %br
      #bull-1= ad.bull1
    %label.bull2
      %br
      #bull-2= ad.bull2
    %label.bull3
      %br
      #bull-3= ad.bull3
    %label.mlsnum
      MLS#
      %span#mls= ad.mls