#wednesday
  .wrapper
    %label
      #name1= ad.agent
    %label
      #phone= ad.agent_phone
    %label
      #price= ad.price
    %label
      #address= ad.address
    %label
      #city= ad.city
    %label.bull1
      %br
      #bull1= ad.bull1
    %label.bull2
      %br
      #bull2= ad.bull2
    %label.bull3
      %br
      #bull3= ad.bull3
    %label.bull4
      %br
      #bull4= ad.bull4
    %span.sms-info Dial 552-0901
    %label.sms-enter
      Enter
      #sms= ad.sms_code